/* SCSS */
@import "/style/header/header.css";
@import "/style/elements/elements.css";
@import "/style/footer/footer.css";
/* SCSS */

.section-projects {
  padding-bottom: 50px;
}

.hero-banner {
  padding: 100px 0px;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  .title-legal {
    color: #dcdcdc;
    font-family: "roc-grotesk-compressed", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -30px;
    font-size: 75px;
    text-align: center;
    position: relative;
    z-index: 9996;

    font-family: "roc-grotesk", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: var(--w-color);
    line-height: 1;
    text-align: left;
    @media screen and (max-width: 768px) {
      font-size: 55px;
      margin-bottom: -25px;
    }
  }
}

.box-main-title {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 335px;
  @media screen and (max-width: 768px) {
    height: 380px;
  }
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-hero-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .hero-title {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      height: 110px;
    }
    .hero-title-flex-left {
      width: 50%;
      h1 {
        font-family: "roc-grotesk", sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: var(--w-color);
        line-height: 1;
        text-align: left;
        div {
          font-family: "roc-grotesk-compressed", sans-serif;
        }
        @media screen and (max-width: 768px) {
          font-size: 30px;
          white-space: nowrap;
        }
      }
    }
    .hero-title-flex-right {
      width: 40%;
      .info-section {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        h2 {
          font-family: "roc-grotesk-compressed", sans-serif;
          text-transform: uppercase;
          color: var(--w-color);

          font-size: 45px;
        }
        .box-date-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
          margin-bottom: 20px;

          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 2px;
            position: absolute;
            background-color: var(--w-color);
            bottom: 1px;
            transition: width 0.3s ease-in-out;
          }

          h3 {
            color: var(--y-color);
            font-family: "roc-grotesk-compressed", sans-serif;
            font-size: 30px;
            line-height: 0.8;
            text-transform: uppercase;
            white-space: nowrap;
            text-align: right;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
        .box-skills-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;

          h3 {
            color: var(--w-color);
            font-size: 16px;
            line-height: 0.6;
            font-weight: 500;
            white-space: nowrap;

            margin: 0px 0px 10px 0px;
          }
          span {
            color: var(--g-color);
            font-size: 16px;
            font-weight: 300;
            margin: 0px 5px 0px 5px;
            line-height: 0.6;
            white-space: nowrap;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.projects-box {
  padding: 0px 0px 50px 0px;
  display: flex;
  grid-gap: 50px;
  grid-template-columns: repeat(var(2), 1fr);
  .projects-main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
      box-shadow 200ms ease-in-out;
    transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
      box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      text-decoration: none;
    }

    .projects-link-text {
      width: 100%;
      border-radius: 0px;
      z-index: 9995;
      bottom: 0;
      padding: 10px 0px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      h2 {
        font-size: 25px;
        margin: 10px 0px 0px 0px;
        color: var(--w-color);
        text-align: left;
        font-family: "roc-grotesk", sans-serif;
        font-weight: 400;

        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #828282;
        z-index: 9995;
        text-align: left;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      .button-go {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border-radius: 50px;
        fill: #fff;
        z-index: 9999;
        width: 40px;
        height: 40px;

        @media screen and (max-width: 768px) {
          height: 40px;
          width: 40px;
          padding: 12px;
          margin: 10px 0px 0px 0px;
          display: none;
        }

        svg {
          height: 35px;
          width: 35px;
        }
      }
    }
    .projects-link-img {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      width: 100%;
      height: 470px;
      z-index: 9994;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        height: 275px;
      }
    }
  }
  .projects {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    -webkit-transition: box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
      box-shadow 200ms ease-in-out;
    transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
      box-shadow 200ms ease-in-out,
      -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0px;
    }

    &:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      text-decoration: none;
    }

    .projects-link-text {
      width: 100%;
      border-radius: 0px;
      z-index: 9995;
      bottom: 0;
      padding: 10px 0px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: rgba(0, 0, 0, 0.2);
      }
      h2 {
        font-size: 25px;
        margin: 10px 0px 0px 0px;
        color: var(--w-color);
        text-align: left;
        font-family: "roc-grotesk", sans-serif;
        font-weight: 400;
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
      p {
        color: var(--g-color);
        font-size: var(--p-size);
        text-align: left;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      .button-go {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border-radius: 50px;
        fill: #fff;
        z-index: 9999;
        width: 40px;
        height: 40px;

        @media screen and (max-width: 768px) {
          display: none;
        }

        svg {
          height: 35px;
          width: 35px;
        }
      }
    }

    .projects-link-img {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-color: var(--w-color);
      width: 100%;
      height: 370px;
      z-index: 9994;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        height: 275px;
      }
    }
  }
}
.other-projects {
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    margin: 50px 0px 0px 0px;
    padding-top: 0px;
  }
  h1 {
    color: var(--w-color);
    text-align: left;
    font-size: 100px;
    line-height: 150px;
    font-family: "roc-grotesk-compressed", sans-serif;
    text-transform: uppercase;
    margin: 70px auto;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      white-space: nowrap;
      margin: 0px auto;
    }
    span {
      color: var(--y-color);
      font-size: 100px;
      line-height: 150px;
      font-family: "roc-grotesk-compressed", sans-serif;
      @media screen and (max-width: 768px) {
        font-size: 50px;
        white-space: nowrap;
      }
    }
  }

  .projects-box-other {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(408px, 1fr));
    grid-gap: 20px; /* Ajoutez une marge de 20px entre les cartes */
    justify-content: center; /* Centre les cartes horizontalement */

    gap: 50px 50px;

    height: 100%;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .projects {
      height: 408px;
      width: 408px;
      display: inline-block;
      padding: 50px;
      background-color: var(--b-color);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      @media screen and (max-width: 768px) {
        height: 350px;
        width: 350px;
        background-color: var(--b-color);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .project-smf {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
@media screen and (max-width: 768px) {
  .projects-box {
    display: flex;
    flex-direction: column;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-gap: 50px;
    grid-template-columns: repeat(var(2), 1fr);
    padding: 20px 0px;
    margin: 0px;
  }
  .d-flex-projects-btn {
    flex-direction: column;
  }
}
