/* SCSS */
@import "/style/header/header.css";
@import "/style/elements/elements.css";
@import "/style/footer/footer.css";
/* SCSS */
a {
  color: var(--w-color);
}
a:hover {
  text-decoration: none;
}

.box-main-title {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 550px;
}
@media screen and (max-width: 768px) {
  .box-main-title {
    height: 455px;
  }
}

.section-projects {
  width: 100%;
  padding-bottom: 30px;
  border-color: #000;
  transition: background-color 1s, color 1s; /* Transition de 0.3 seconde pour la couleur de fond et le texte */
}
.section-projects h1 {
  color: #fff;
}
.section-projects .main-box {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}
.section-projects a {
  background-color: #1e1e1e;
  border-radius: 10px 10px 10px 0px;
  padding: 200px 100px;
  border: 4px solid #1e1e1e;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-projects .main-box-tech-skills {
  display: flex;
  flex-direction: row;
}
.section-projects .main-box-tech-skills .tech-skills {
  background-color: #1e1e1e;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-top: 0px;
}
.section-projects .main-box-tech-skills .tech-skills h3 {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-hero-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section-hero-title .hero-title {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section-hero-title .hero-title {
    height: 110px;
  }
}
.section-hero-title .hero-title .hero-title-flex-left {
  width: 50%;
}
.section-hero-title .hero-title .hero-title-flex-left h1 {
  font-family: "roc-grotesk-compressed", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  color: var(--w-color);
  line-height: 0.7;
  font-weight: 700;
  text-align: left;
}
.section-hero-title .hero-title .hero-title-flex-left h1 div {
  font-family: "roc-grotesk-compressed", sans-serif;
}
@media screen and (max-width: 768px) {
  .section-hero-title .hero-title .hero-title-flex-left h1 {
    font-size: 50px;
    white-space: nowrap;
  }
}
.section-hero-title .hero-title .hero-title-flex-right {
  width: 40%;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section h2 {
  font-family: "roc-grotesk-compressed", sans-serif;
  text-transform: uppercase;
  color: var(--w-color);
  font-size: 45px;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-date-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-date-info:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  position: absolute;
  background-color: var(--w-color);
  bottom: 1px;
  transition: width 0.3s ease-in-out;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-date-info h3 {
  color: var(--y-color);
  font-family: "roc-grotesk-compressed", sans-serif;
  font-size: 30px;
  line-height: 0.8;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .section-hero-title .hero-title .hero-title-flex-right .info-section .box-date-info h3 {
    font-size: 14px;
  }
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-skills-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-skills-info h3 {
  color: var(--w-color);
  font-size: 16px;
  line-height: 0.6;
  font-weight: 500;
  white-space: nowrap;
  margin: 0px 0px 10px 0px;
}
.section-hero-title .hero-title .hero-title-flex-right .info-section .box-skills-info span {
  color: var(--g-color);
  font-size: 16px;
  font-weight: 300;
  margin: 0px 5px 0px 5px;
  line-height: 0.6;
  white-space: nowrap;
  text-transform: uppercase;
}/*# sourceMappingURL=hub.css.map */